pandas
numpy
scikit-learn==1.2.*
prettytable
scikit-learn-intelex
pytest
python-dotenv

[all]
Flask
flask_restful
gunicorn
streamlit
jupyter
matplotlib
seaborn
prettytable
scikit-learn-intelex

[client]
streamlit

[data-science]
jupyter
matplotlib
seaborn
prettytable
scikit-learn-intelex

[server]
Flask
flask_restful
gunicorn
