pandas
numpy
scikit-learn==1.2.*
prettytable
scikit-learn-intelex
pytest
python-dotenv


Flask
flask_restful
gunicorn
streamlit
jupyter
matplotlib
seaborn
prettytable
scikit-learn-intelex


streamlit


jupyter
matplotlib
seaborn
prettytable
scikit-learn-intelex


Flask
flask_restful
gunicorn
